DB_URL_DEVELOPMENT=mongodb+srv://lofiechoharmonic_db_user:lofiechoharmonic-2025hash2025@synergysphere.4q2j1p6.mongodb.net/?retryWrites=true&w=majority&appName=SynergySphere
API_PORT=5002
PASS_SECRET=TeGzfelIeTAWLu4jKD
JWT_SECRET=LKadERmeZap3oz1N1jNRhD2B3
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_OF_ACCOUNT